*
{
  font-family: 'Nunito', sans-serif;
}

.bg-app
{
  /* justify-content: center;
  align-items: center;
  background: #fff; */
  background-size: cover;
  background-image: url("~/assets/images/bg-app.jpg");
}

Image 
{
  height: 60%;
}

Button, TextField 
{
  margin-bottom: 10;
  font-size: 16px;
}

TextField 
{
  placeholder-color: rgba(90, 90, 90, 0.7);
  color: black;
  font-size: 16px;
}

.Logo-Label
{
  color: black;
  font-size: 36px;
  margin-bottom: 3%;
}

.welcome-label
{
  font-size: 28px;
  color: black;
}

.principal-box
{
  margin-top: 2%;
  width: 100%;
  padding: 10px 16px;
  display: flex;
  justify-content: center;
}

.login-box
{
  width: 90%;
  /* padding: 10 16; */
  border-radius: 10px;
  background-color: rgb(252, 252, 252);
}

.login-buttons
{
  width: 80%;
  color: white;
}

.btn
{
  margin-left: 0;
  margin-right: 0;
}

.btn-border
{
  border-radius: 15px;
}

.google-btn
{
  background-color: white;
  height: 15%;
  width: 80%;
  font-size: 18px !important;
  border-width: 2px;
  border-color: black;
}

.facebook-btn
{
  background-color: #4267B2;
  color: white;
  height: 40%;
  font-size: 18px !important;
  border-width: 2px;
  border-color: black;
}

.btn-login
{
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  color: black;
  font-size: 18px !important;
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  background-color: rgb(252, 252, 252);
}

.btn-register
{
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 10px;
  color: black;
  font-size: 18px !important;
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  background-color: rgb(252, 252, 252);
}

.btn-login:active, .btn-login:focus, .btn-register:active, .btn-register:focus
{
  color: black;
}

.restar
{
  background: transparent;
}

.border-top
{
  border-top-width: 3px;
  border-color: #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Colores de iconos */

.google-icon
{
  color: red;
  font-size: 24px;
}

.text-icon
{
  color: black;
}

/* Estados de texto */

.active
{
  border-color: black;
  border-top-width: 4px;
  /* transition: 0.5s all; */
}

.inactive
{
  color: rgb(160, 160, 160);
}

/* Estilos de justificacion de texto */

.align-center
{
  text-align: center;
}

.align-left
{
  text-align: left;
}

.align-right
{
  text-align: right;
}

/* Tamaños de texto */

.big-text
{
  font-size: 22px;
  margin-top: 4%;
}

.medium-text
{
  font-size: 17px;
  margin-top: 4%;
}

/* Colores */
.black
{
  color: black;
}