<!-- INICIO LOGIN -->
<StackLayout *ngIf="status == 'login' || status == ''" class="principal-box bg-app">
	<Image src="~/assets/images/FindEat-logo-v5.png" class="logo"></Image>

	<StackLayout>
		<FlexboxLayout flexDirection="column" alignItems="center">
			<Label text="Inicia sesión o registrate usando tus redes sociales" textWrap="true" textAlignment="center" class="black medium-text"></Label>
			<Label text="" textWrap="true"></Label>
			<Label text="" textWrap="true"></Label>
			<FlexboxLayout class="sign-in-button border-google" flexDirection="row" androidElevation="3" backgroundColor="white" justifyContent="center" (tap)="google()">
				<Image src="~/assets/images/google-logo.png" backgroundColor="transparent" alt="google-btn" class="sign-in-img" alignItem="flex-start"></Image>	
				<Label flexGrow="1" text="Inicia con Google" textWrap="true" class="big-text sign-in-label label-google" textAlignment="center"></Label>				
			</FlexboxLayout>
			<Label text="" textWrap="true"></Label>
			<Label text="-- O --" textWrap="true" class="medium-text"></Label>
			<Label text="" textWrap="true"></Label>
			<FlexboxLayout class="sign-in-button border-fb" flexDirection="row" androidElevation="3" backgroundColor="white" justifyContent="center" (tap)="Facebook()">
				<Image src="~/assets/images/facebook-logo.png" backgroundColor="transparent" alt="google-btn" class="sign-in-img" alignItem="flex-start"></Image>	
				<Label flexGrow="1" text="Inicia con Facebook" textWrap="true" class="big-text sign-in-label label-fb" textAlignment="center"></Label>				
			</FlexboxLayout>
		</FlexboxLayout>
	</StackLayout>

	<Button text="ir a foto component" (tap)="foto()"></Button>

	<Button text="ir a register component" (tap)="al-registro()"></Button>