Button.-primary {
    font-size: 18;
}

.primary-profile{
    
    width: 80%;
    height: 434px;
    border-radius: 100%;
}
.icon{
    height: 75px;
    width: 75px;
    margin-right: 10px;
}
.estrellas{
    margin: 0;
    padding:0;
}
.formulario{
    height: 30%;
    min-height: 600px;
padding-top: 10%;
margin-top: 3%;
border-radius: 30px;
width: 90%;
background-color: rgba(24, 25, 32, 0.849);
}
.h3{
    color: rgb(255, 123, 0);
    font-weight: bold;
}

TextView
{ 
  border-bottom-color: rgba(0, 0, 0, 0);
  placeholder-color: rgba(255, 166, 0, 0.548);
  color: orange;
  font-size: 16px;
  width: 80%;
  border-width: 0;
    padding-top: 0px;
    margin-top: 30px;
}

TextView:focus, TextView:active
{
  border-width: 0;
}


.title{
    font-size: 15;
    font-weight: lighter;
    align-items: center;
    align-content: center;
    text-align: center;
}

.review-card{
    width: 90%;
    margin-top: 45px;
    padding: 0;
    padding-bottom: 40px;
    background-color: rgb(235, 235, 235);
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    height: fit-content;
    height: 200;
}

.user-data{
    background-color: rgba(24, 25, 32, 0.849);
}

.user-pic{
    width: 15%;
    border-radius: 100%;
    margin-bottom: 15px;
}

.stars{
    width: 35%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.report{
    color: red;
    background-color: black;
    font-weight: bold;
    width: 8%;
    height: 50px;
    border-radius: 100%;
}

.user-name{
    color: rgb(255, 123, 0);
    font-weight: bold;
    font-size: 16;
    align-items: center;
    align-content: center;
    text-align: center;
}

.review-content{
    font-size: 15;
    font-weight: lighter;
    width: 85%;
    height: 100%;
}

.my-button
{  width: 70%;
  color: black;
  background-color: rgb(255, 123, 0);
  font-weight: bold;
  border-radius: 360;
  letter-spacing: 0.2;
  padding-bottom: 5%;
  padding-top: 5%;
}

.texto{
    height: 18%;
    width: 90%;
    border-color: black;
}

.img-header{
    width: 30%;
    border-radius: 100%;
    margin-top: 3%;
}

.restname{
    font-size: 30;

    color: rgb(65, 65, 65);
    border-bottom-width: 3px;
    border-bottom-color: gray;
    width: 90%;
    align-items: center;
    align-content: center;
    text-align: center;
}