
<ActionBar icon="" class="" style="background: rgb(255, 123, 0);">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="Logout()" class="black-text"></NavigationButton>
    <Label text="Inicio" position="center" class="medium-text black-text" textWrap="true"></Label>
    <ActionItem ios.position="right" class="opt-btn">
      <Button class="opt-btn black-text" text="Opciones"></Button>
    </ActionItem>
  </ActionBar>
  
  <BottomNavigation selectedIndex="0">
  
    <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
    <TabStrip>
        <TabStripItem class="home black-text" style="background: rgb(255, 123, 0);">
            <Label text="Inicio"></Label>
            <Image src="~/assets/images/google-logo.png" class=""></Image>
        </TabStripItem>
        
        <TabStripItem class="home black-text" style="background: rgb(255, 123, 0);">
          <Label text="Inicio"></Label>
          <Image src="~/assets/images/google-logo.png" class=""></Image>
      </TabStripItem>

        <TabStripItem class="special black-text" style="background: rgb(255, 123, 0);">
            <Label text="Buscar"></Label>
            <Image src="~/assets/images/google-logo.png" class="icono"></Image>
        </TabStripItem>
  
        <TabStripItem class="special black-text" style="background: rgb(255, 123, 0);">
            <Label text="Cuenta"></Label>
            <Image src="~/assets/images/google-logo.png" class="icono"></Image>
        </TabStripItem>
    </TabStrip>
  
    <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
    <TabContentItem>
      <GridLayout class="page">
        <Stacklayout>
        <Label text="Página de Inicio" class="h2 text-center black-text"></Label>
        <Label [text]="profile.name" class="h2 text-center black-text"></Label>

        <Button text="Logout" (tap)="Logout()" class="btn btn-primary btn-active"></Button>
      </Stacklayout>
      </GridLayout>
    </TabContentItem>

    <TabContentItem>

      <Stacklayout>
        <ScrollView>
              <GridLayout class="page2">
                <StackLayout justifyContent="center" alignContent="center" >
                  <Image [src]="profile.profilePicture" class="img-header"   
                  margin="10"
                  androidElevation="12"
                  backgroundColor="white"></Image>
                  <Label text="reseñas..."  class="title"></Label>
                  <Label [text]="profile.name" class="restname" >  </Label>
                  
                  <StackLayout *ngFor="let review of reviews">
                    <StackLayout class="review-card">
                      <StackLayout justifyContent="center" alignContent="center"  class="user-data">
                        <FlexboxLayout alignItems="center" justifyContent="space-between">
                          <Label text=""></Label>
                          <Image [src]="getProfilepicURL(review.userID)" class="user-pic" ></Image>
                          <Button class="report" text="!" (tap)="reportReview(review.id)"></Button>
                        </FlexboxLayout>
                        
                    <Image [src]="getStars(review.rate)" class="stars" ></Image>
                    <Label [text]="getNameUser(review.userID)" class="user-name" ></Label>
                    
                  </StackLayout>
                    <Label [text]="review.reviewText"  class="review-content"></Label>
                  </StackLayout>
                  </StackLayout>
                
                  
                
                  
                </StackLayout>
              </GridLayout>
            </ScrollView>
              </Stacklayout>
          </TabContentItem>
  
    <TabContentItem>
<Stacklayout>
        <GridLayout class="page3">
            <Label text="Página para encontrar restaurantes" class="h2 text-center black-text"></Label>
            <Label [text]="profile.name" class="h2 text-center black-text"></Label>
        </GridLayout>
        </Stacklayout>
    </TabContentItem>
  
    <TabContentItem>
      <Stacklayout>
        <GridLayout class="page4">
            <Label text="Página de cuenta" class="h2 text-center black-text"></Label>
            <Label [text]="profile.name" class="h2 text-center black-text"></Label>
        </GridLayout>
          </Stacklayout>
    </TabContentItem>
  
  </BottomNavigation>

