<ActionBar title="Details"></ActionBar>
<StackLayout justifyContent="center" alignContent="center" >

  <Label text="Nueva reseña"  class="title"></Label>
  <Image [src]="profile.profilePicture" class="img-header"   margin="10"

  androidElevation="12"
  backgroundColor="white"></Image>
  <Label [text]="profile.name" class="restname" color="black">  </Label>

  <StackLayout *ngFor="let review of reviews">
    <Label [text]="review.reviewText"  class="title" color="black"></Label>
  </StackLayout>
  

  
</StackLayout>
    



