<StackLayout *ngIf="status == 'normal'" justifyContent="center" alignContent="center" >

    <Label text="Nueva reseña"  class="title"></Label>
    <Image [src]="foto" class="img-header"   margin="10"
  
    androidElevation="12"
    backgroundColor="white"></Image>
    <Label [text]="nombre" class="review-restname" >  </Label>
  <StackLayout class="new-review">
    <FlexboxLayout alignItems="center" class="estrellas" justifyContent="space-between" width="60%">
  
        <Image [src]="starURL1" class="icon" (tap)="starRate(1)"></Image>
        <Image [src]="starURL2" class="icon" (tap)="starRate(2)"></Image>
        <Image [src]="starURL3" class="icon" (tap)="starRate(3)"></Image>
        <Image [src]="starURL4" class="icon" (tap)="starRate(4)"></Image>
        <Image [src]="starURL5" class="icon" (tap)="starRate(5)"></Image>
  
    </FlexboxLayout> 
    <TextView hint="¿Qué te pareció?" 
    class="texto"  [(ngModel)]="reviewText">
  </TextView>
  </StackLayout>
  
  <button text="Postear" (tap)="postear()" class="my-button"></button>
  
</StackLayout>

<StackLayout *ngIf="status == 'loading'" width="100%" height="100%" class="loading-background">
<ActivityIndicator width="50" height="50" busy="true" class="activity-indicator round loading" color="orange" style="z-index: 99999;" background="white"></ActivityIndicator>
</StackLayout>
      
  