
 <ScrollView>
    <GridLayout class="page2">
      <StackLayout justifyContent="center" alignContent="center" >
        
        
        <Image [src]="profile.profilePicture" class="img-header"   
        margin="10"
        androidElevation="12"
        backgroundColor="white"></Image>
        <Label [text]="profile.name" textWrap="true" class="restname" >  </Label>
        <Label [text]="profile.info" textWrap="true" class="restInfo" >  </Label>
        <FlexboxLayout class="flexstars" alignItems="center" justifyContent="center">
          <Label [text]="profile.rate" class="rate" >  </Label> 
          <Image [src]="getStars(profile.rate)" class="stars" ></Image>
        </FlexboxLayout>
        <FlexboxLayout class="flexstars" alignItems="center" justifyContent="center">
          <Label  *ngFor="let carac of profile.caracteristicas" (tap)="aber(carac)"  [text]="carac" class="carac" >  </Label> 
        </FlexboxLayout>
        <FlexboxLayout class="row">
          <Image class="ImgButton"  [nsRouterLink]="['/newReview', profile.id]" src="~/assets/images/newReviewIcon.png" ></Image>
        <Image  (tap)="showMap(mapbool)" margin="10"
        androidElevation="12"
        backgroundColor="white" class="busqueda" [src]="statusMap" ></Image>
        <Image class="ImgButton"  [nsRouterLink]="['/profileReviewList', profile.id]"  src="~/assets/images/reviewIcon.png" ></Image>
        </FlexboxLayout>

        <GridLayout class="map" [height]="mapDisplay">
            <MapView #mapView [latitude]="profile.location[0]" [longitude]="profile.location[1]"
                     [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom" [bearing]="bearing"
                     [tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)"
></MapView>
          </GridLayout>
      </StackLayout>
    </GridLayout>
 </ScrollView>

