
 <ScrollView>
    <GridLayout class="page2">
      <StackLayout justifyContent="center" alignContent="center" >      
        <Image [src]="addUrl(profile.ruta)"class="img-header"   
        margin="10"
        androidElevation="12"
        backgroundColor="white"></Image>
        <Label [text]="profile.restaurantName" textWrap="true" class="restname" >  </Label>
        <Label [text]="profile.descripcion" textWrap="true" class="restInfo" >  </Label>
        <FlexboxLayout flexWrap="wrap" alignItems="center" justifyContent="center">
          <Label [text]="profile.rating" class="rate" >  </Label> 
          <Image [src]="getStars(profile.rating)" class="stars" ></Image>
        </FlexboxLayout>
        <FlexboxLayout flexWrap="wrap"  alignItems="center" justifyContent="center">
          <Label  *ngFor="let carac of profile.caracteristicas" (tap)="aber(carac.name)"  [text]="carac.name" class="carac" >  </Label> 
        </FlexboxLayout>
        <FlexboxLayout class="row">
          <Image class="ImgButton"  [nsRouterLink]="['/newReview', profile.id]" src="~/assets/images/newReviewIcon.png" ></Image>
        <Image   (tap)="showMap(mapbool)" margin="10"
        androidElevation="12"
        backgroundColor="white" class="busqueda" [src]="statusMap" ></Image>
        <Image class="ImgButton"  [nsRouterLink]="['/profileReviewList', profile.id]"  src="~/assets/images/reviewIcon.png" ></Image>
        </FlexboxLayout>

        <StackLayout  class="map" [height]="mapDisplay" justifyContent="center" alignContent="center">
          <Label class="h4 link" (tap)="openGMaps()" text="Ver cómo llegar" textWrap="true"></Label>
            <MapView #mapView [latitude]="latitude" [longitude]="longitude"
                     [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom" [bearing]="bearing" 
                     [tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)">
</MapView>
          </StackLayout>
          <WrapLayout class="fotos">
            <Image *ngFor="let foto of profile.fotos" [src]="addUrl(foto.ruta)" class="gallery" (tap)="openPic(foto.id)" ></Image>
          </WrapLayout>
      </StackLayout>
    </GridLayout>

 </ScrollView>




