<ActionBar title="" style="background: rgb(255, 123, 0);">

    <Label text="Editar Reseña" position="center" class="h2 bold" color="black" textWrap="true"></Label>
  
    <!-- POR AHORA COMENTADO PERO ESTO PUEDE SERVIR PARA IMPLEMENTAR EL BOTON DE REPORTAR LOCAL -->
    <!-- <ActionItem *ngIf="status == 'profile'"
        ios.systemIcon="16" ios.position="right"
        text="📋 Modificar nombre" android.position="popup" isEnabled="{{ BtnDispo }}"></ActionItem>
      <ActionItem *ngIf="status == 'profile'" (tap)="status = 'editCaracteristicas'"
      ios.systemIcon="16" ios.position="right"
      text="📝 Modificar intereses" android.position="popup" isEnabled="{{ BtnDispo }}"></ActionItem> -->
  </ActionBar>
  
  <StackLayout *ngIf="status == 'normal'" justifyContent="center" alignContent="center" background="white">
  
      <!-- <Label text="Nueva reseña"  class="title"></Label> -->
      <Label [text]="nombre" class="review-restname" textTransform="capitalize"></Label>
    <StackLayout class="new-review">
      <FlexboxLayout alignItems="center" class="estrellas" justifyContent="space-between" width="60%">
    
          <Image [src]="starURL1" class="icon" (tap)="starRate(1)"></Image>
          <Image [src]="starURL2" class="icon" (tap)="starRate(2)"></Image>
          <Image [src]="starURL3" class="icon" (tap)="starRate(3)"></Image>
          <Image [src]="starURL4" class="icon" (tap)="starRate(4)"></Image>
          <Image [src]="starURL5" class="icon" (tap)="starRate(5)"></Image>
    
      </FlexboxLayout> 
      <TextView hint="Modifica el contenido de la reseña" 
      class="texto"  [(ngModel)]="reviewText">
    </TextView>
    </StackLayout>
    
    <button text="Actualizar reseña" (tap)="postear()" class="my-button"></button>
    
  </StackLayout>
  
  <StackLayout *ngIf="status == 'loading'" width="100%" height="100%" class="loading-background">
  <ActivityIndicator width="50" height="50" busy="true" class="activity-indicator round loading" color="orange" style="z-index: 99999;" background="white"></ActivityIndicator>
  </StackLayout>
        