.home {
  background-color: white;
}

.action-bar
{
  background-color: white;
}

.cardImg{
  border-radius: 100%;
  margin: 5;
  width: 25%;
  background-color: white;
  android-elevation: 10;
}

.card-title{
  font-weight: bold;
  font-size: 20;
  color: black;
}
.carac{
  color: white;

  font-size: 14;
  background-color: rgb(17, 115, 226);
  padding: 2,4;
  margin: 2, 5;
  border-radius: 4;
}
.busqueda{
  margin-top: 100px;
  width: 90%;
  height: 130px;
  padding: 0;
  padding-left: 15%;
  border-radius: 100%;
  background-color: white;

}

SearchBar{
  background-color: rgba(255, 255, 255, 0);
}

.iconmap{
  height: 80%;
}

busquedatext:focus, busquedatext:active
{
  border-width: 0;
}

.item{
  color: white;
  font-size: 20;
  height: 30;
  background-color: rgb(17, 115, 226);
  padding: 2,4;
  margin: 2, 5;
  border-radius: 6;
}

.searchbuttons{
  width: 40%;
  margin: 0 5%;
  justify-content: space-between;
  background-color: rgb(255, 123, 0);
  border-width: 1;
  border-color: black;
  padding: 3% 0;
  border-radius: 100%;
}

.list{
  height: 70%;
}

.card-info{
font-size: 14;
color: rgb(37, 37, 37);
line-height: 2;
}

.card-Text{
  align-items: flex-start;
padding-bottom: 5;
  width: 71%;
  height: 100%;
  align-items: flex-start;
}

.card{
  width: 90%;
  margin-bottom: 5;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 3px;
  border-bottom-color: rgb(37, 37, 37);
}
.special
{
  background-color: white;
}

.black-text
{
  color: black;
}

.page
{
  background-color: white;
}

.page2
{
  background-color: whitesmoke;
}

.page3
{
  background-color: beige;
}

.opt-btn
{
  background: rgb(255, 123, 0);
}