.home {
  background-color: white;
}

.action-bar
{
  background-color: white;
}

.special
{
  background-color: white;
}

.black-text
{
  color: black;
}

.page
{
  background-color: white;
}

.page2
{
  background-color: whitesmoke;
}

.page3
{
  background-color: beige;
}