<!-- <ActionBar title="Inicio" icon="" class="action-bar black-text">
</ActionBar> -->

<ActionBar icon="" class="" style="background: rgb(255, 123, 0);">
  <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="Logout()" class="black-text"></NavigationButton>
  <Label text="Inicio" position="center" class="medium-text black-text" textWrap="true"></Label>
  <ActionItem ios.position="right" class="opt-btn">
    <Button class="opt-btn black-text" text="Opciones"></Button>
  </ActionItem>
</ActionBar>

<BottomNavigation selectedIndex="0">

  <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
  <TabStrip>
      <TabStripItem (tap)="switchView('home')" class="home black-text" style="background: rgb(255, 123, 0);">
          
          <Image [src]="home_actual" class="icono"></Image>
      </TabStripItem>

      <TabStripItem (tap)="switchView('search')" class="special black-text" style="background: rgb(255, 123, 0);">
  
          <Image [src]="search_actual" class="icono"></Image>
      </TabStripItem>

      <TabStripItem (tap)="switchView('account')"  class="special black-text" style="background: rgb(255, 123, 0);">
          <Image [src]="account_actual" class="icono"></Image>
      </TabStripItem>
  </TabStrip>

  <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
  <TabContentItem>
    <GridLayout class="page">
      <ScrollView>
      <StackLayout alignItems="center" justifyContent="center">
      <Label text="Recomendaciones para ti..." class="h3 text-center black-text"></Label>
      <Button text="Logout" (tap)="Logout()" class="btn btn-primary btn-active"></Button>
        
      <FlexboxLayout class="card" *ngFor="let profile of feedList" (tap)="goToProfile(profile.id)">
        <Image [src]="profile.profilePicture" class="cardImg"></Image>
        <StackLayout class="card-Text">
        <Label class="card-title" text={{profile.name}}></Label>
        <Label  textWrap="true" class="card-info" text={{profile.info}}></Label>
        <FlexboxLayout >
          <Label *ngFor=" let item of profile.caracteristicas" class="carac" text={{item}}></Label>
        </FlexboxLayout>
      </StackLayout>
      </FlexboxLayout>
    </StackLayout>
  </ScrollView>
    </GridLayout>
  </TabContentItem>

  <TabContentItem>
      <GridLayout class="page2">
        <StackLayout>
          <Label text="Página para encontrar restaurantes" class="h2 text-center black-text"></Label>
            <Button class="btn btn-primary btn-active" text="Mi ubicación actual" (tap)="updateLocation()"></Button>
        </StackLayout>
      </GridLayout>
  </TabContentItem>

  <TabContentItem>
      <GridLayout class="page3">
          <Label text="Página de cuenta" class="h2 text-center black-text"></Label>
      </GridLayout>
  </TabContentItem>

</BottomNavigation>