<GridLayout class="page">
  <ScrollView>
    <StackLayout alignItems="center" justifyContent="center">
      <Label text="Resultados de su búsqueda..." class="h3 text-center black-text"></Label>

      <FlexboxLayout class="card" *ngFor="let profile of result" (tap)="goToProfile(profile.id)">
        <Image [src]="addUrl(profile.ruta)"  class="cardImg"></Image>
        <StackLayout class="card-Text">
          <Label class="card-title" text={{profile.name}}></Label>
          <Label textWrap="true" class="card-info" text={{profile.descripcion}}></Label>
          <FlexboxLayout flexWrap="wrap">
            <Label *ngFor=" let item of profile.caracteristicas" class="carac" text={{item.name}}></Label>
          </FlexboxLayout>
        </StackLayout>
      </FlexboxLayout>
    </StackLayout>
    <StackLayout *ngIf="result.lenght == 0" alignItems="center" justifyContent="center">
      <Label text="No conseguimos ninguna coincidencia..."></Label>
    </StackLayout>
  </ScrollView>
</GridLayout>