<GridLayout class="page">
    <ScrollView>
    <StackLayout alignItems="center" justifyContent="center">
    <Label text="Recomendaciones para ti..." class="h3 text-center black-text"></Label>
    <Button text="Logout"  class="btn btn-primary btn-active"></Button>
      
    <FlexboxLayout class="card" *ngFor="let profile of result" (tap)="goToProfile(profile.id)">
      <Image [src]="profile.profilePicture" class="cardImg"></Image>
      <StackLayout class="card-Text">
      <Label class="card-title" text={{profile.name}}></Label>
      <Label  textWrap="true" class="card-info" text={{profile.info}}></Label>
      <FlexboxLayout flexWrap="wrap" >
        <Label *ngFor=" let item of profile.caracteristicas" class="carac" text={{item}}></Label>
      </FlexboxLayout>
    </StackLayout>
    </FlexboxLayout>
  </StackLayout>
</ScrollView>
  </GridLayout>