Image 
{
  margin-top: 2%;
  height: 25%;
}

Button
{
  margin-bottom: 10;
  font-size: 16px;
}

TextField
{ 
  border-bottom-color: rgba(0, 0, 0, 0);
  placeholder-color: rgba(255, 166, 0, 0.548);
  color: orange;
  font-size: 16px;
  width: 80%;
  border-width: 0;
}

TextField:focus, TextField:active
{
  border-width: 0;
}

.principal-box
{
  width: 100%;
  padding: 10px 16px;
  display: flex;
  justify-content: center;
}

.bg-app
{
  background-size: cover;
  background-image: url("~/assets/images/bg-app2.jpg");
}

.icono
{
  width: 7%;
  height: 7%;  
}
